@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;600;700&family=Work+Sans:wght@100;200;300;400;500&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #080808;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Afacad', sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    padding: 8px 32px 8px 32px;
    border-bottom: 1px solid #2b2b2b;
    position: sticky; top: 0;
    background-color: #080808;
    z-index: 1000;
}

.header_logo img {
    width: 128px;
    height: auto;
    margin-right: 20px;
}

.hamburger_menu_logo {
    width: 128px;
    height: 28px;
}

.pink_color {
    color: rgb(20, 110, 245);
}

.announcement_bar {
    background-color: rgb(20, 110, 245);
    height: 56px;
}

.announcement_bar_a {
    display: flex;
    justify-content: space-between; 
    max-width: 1280px;
    margin: auto;
    color: white;
    height: 56px;
}

.announcement_bar_left_p {
    flex: left;
    margin: auto 0;
    font-weight: 400;
}

.announcement_bar_right_p {
    flex: right;
    font-weight: 500;
    margin: auto 0;
}

nav {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
}

nav .navbar_ul {
    list-style: none;
    padding: 0;
    margin: auto 0 auto 40px;
}

nav .navbar_ul li {
    display: inline-block;
    margin-right: 3rem;
    font-size: 16px;
}

nav .navbar_ul li a {
    font-size: 15px;
}

.lines_image {
    max-width: 600px;
    position: absolute;
    z-index: -1;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
}

.chatbot_demo_container {
    position: absolute;
    top: 700px;
    z-index: 1;
    width: 100%; 
    display: flex; 
    margin: 0 auto;
}

nav li:last-child {
    margin-right: 0;
}

nav li:hover {
    font-weight: 700 !important;
}

nav a {
    text-decoration: none;
    color: #fff; /* White text */
    font-size: 13px;
}

.button_standard a {
    font-size: 15px;
    font-weight: 600 !important;
    display: inline-block;
    padding: 14px 40px;
    background-color: #146ef5;
    border: solid rgb(43, 43, 43) 1px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.button_standard a:hover {
    background-color: #000; /* Black background on hover */
    color: #fff; /* White text on hover */
  }

.section_mainheader {
    padding: 100px 70px 70px 70px;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: left;
}

.section_mainheader_text {
    max-width: 770px;
}

.section_mainheader_h1, .section_mainheader_p {
    color: white;
    text-align: left;
    margin: 0;
}

.section_mainheader_h1 {
   font-size: 95px; 
   font-weight: 700;
   line-height: 0.9;
   max-width: 80rem;
   margin: 0 auto;
}

.section_mainheader_p {
    font-size: 18px;
    line-height: 1.5;
    margin: 30px auto 32px auto;
}

.section_mainheader_button {
    z-index: 2;
}

.empty_space {
    height: 1000px;
}

.section_mainheader_hero_video {
    max-width: 100%;
    width: 1216px;
    display: block;
    margin: 0 auto;
}

.section_benefits {
    text-align: center;
    padding: 70px 70px 0 70px;
}

.section_h2 {
    font-size: 46px; 
    font-weight: 700;
    line-height: 1.1;
    margin: 0px;
}

.section_benefits_h2 {
    max-width: 786px;
    margin: 0 auto;
}
 
.section_p {
    font-size: 14px;
    color: rgb(156, 163, 175);
    margin-top: 12px;
}

.section_benefits_rowcontainer {
    display: flex;
    justify-content: center;
    margin: 80px auto 0 auto;
    max-width: 1080px;
}

.section_benefits_row {
    text-align: center;
    margin: 0 20px;
    padding: 1.5rem 1.5rem;
    background-color: rgba(246, 241, 255, 0.05);
    width: 320px;
}

.section_benefits_svg {
    width: 64px;
    margin: 56px 0;
}

.section_benefits_row_h3 {
    font-size: 18px; 
    font-weight: 700;
    margin: 0px;
}

.section_benefits_row_p {
    font-size: 12px;
    color: rgb(156, 163, 175);
    margin-top: 12px;
    font-weight: 600;
}

.section_benefits_button {
    margin: 40px 0;
}

.section_howitworks {
    margin-top: 170px;
    padding: 0 70px 0 70px;
}

.section_howitworks_graph_image {
    margin-top: 75px;
    max-width: 672px;
    max-width: 100%;
    width: 672px;
}

.section_howitworks_centercontainer {
    display: flex;
    justify-content: center;
}

.section_howitworks_rowcontainer {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    text-align: left;
    max-width: 100%;
}

.smallertext {
    font-weight: 600;
    font-size: 12px;
}

.section_howitworks_row {
    margin: 0 7px;
    padding: 1.5rem 1.2rem;
    background-color: rgba(246, 241, 255, 0.05);
    width: 196px;
    height: 152px;
}

.section_howitworks_row_svg {
    width: 24px;
    margin: 0 0 30px 0;
}

.section_howitworks_row_h4 {
    font-size: 16px; 
    font-weight: 700;
    margin: 0px;
}

.section_howitworks_row_p {
    font-size: 12px;
    color: rgb(156, 163, 175);
    margin: 12px 0 0 0;
    font-weight: 600;
    line-height: 1.4;
}

.slideshow {
    display: none;
    margin-top: 80px;
}

.slideshow_arrow_button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 24, 39);
    width: 46px;
    height: 46px;
    border: solid rgb(25, 30, 36);
    border-width: 1px;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.slideshow_arrow_svg {
    width: 24px;
    height: 24px;
}

.slideshow_controls {
    display: flex;
    justify-content: space-between;
}

.slideshow_number_1 {
    font-size: 27px;
}

.slideshow_number_2 {
    font-size: 16px;
}

.slideshow_number_3 {
    font-size: 14px;
}

.slideshow_slide {
    background-color: rgba(246, 241, 255, 0.05);
    padding: 24px 16px;
    margin: 20px 0;
}

.section_ourservices {
    margin-top: 140px;
    padding: 0 70px 0 70px;
}

.section_ourservices_h2 {
    margin: 64px 0 0 0;
}

.section_ourservices_container {
    display: flex; 
    flex-direction: row;
    width: 64rem;
    margin: 80px auto 0 auto;
    max-width: 100%;
}

#section_ourservices_container_1 {
    background-color: rgb(20, 110, 245);
}

.section_ourservices_left {
    flex: 1;
    
    display:grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    
}

.nav_left {
    display: flex;
}

.section_ourservices_right {
    flex: 1;
    text-align: left;
    margin-right: 90px;
}

.section_ourservices_h3 {
    font-size: 28px; 
    font-weight: 600;
    margin-top: 0;
}

.section_ourservices_h4 {
    font-size: 17px; 
    font-weight: 600;

}

.section_ourservices_p {
    font-size: 13px;
    font-weight: 500;
    margin-top: 13px;
    color: rgb(249, 250, 251);
    line-height: 1.4;
}

#service-description {
    font-size: 13px;
    font-weight: 500;
}

.section_ourservices_griditem {
    padding: 0.2rem 0.1rem;
    background-color: rgba(246, 241, 255, 0.05);
    cursor: pointer;
}

.section_ourservices_griditem:hover {
    background-color: #002c6e !important;
}

.section_ourservices_griditem_buttonwrapper {
    all: unset;
}

.section_ourservices_griditem_svg {
    width: 32px;
    margin: 76px 0 20px 0;
}

.section_ourservices_griditem_h4 {
    font-size: 16px; 
    font-weight: 600;
    margin: 0px;
}

.section_ourservices_griditem_p {
    font-size: 12px;
    color: rgb(156, 163, 175);
    margin: 12px 0 0 0;
    font-weight: 600;
    line-height: 1.4;
}

.section_ourservices_button {
    margin: 64px 16px 24px 16px;
    font-size: 12px;
    background-color: rgba(229,231,235,.05);
    padding: 3px 0;
}

.section_quote_container {
    background-color: rgb(20, 110, 245);
    background-image: url(./footage/mesh1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7rem 2rem 15rem 2rem;
    max-width: 72rem;
    display: block;
    margin: 64px auto 0 auto;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.section_quote_h2 {
    font-size: 70px; 
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
}

.section_quote_h3 {
    font-size: 58px; 
    font-weight: 500;
    line-height: 1.1;
    margin: 0;
}

.section_founder {
    padding: 0 70px 0 70px;
}

.section_founder_container {
    display: flex; 
    flex-direction: row;
    width: 76rem;
    margin: 80px auto 0 auto;
    max-width: 100%;
}

.section_founder_left {
    flex: 1;  
    text-align: left;
    margin-right: 70px;
}

.section_founder_right {
    flex: 1;
    margin-left: 70px;
}

.section_founder_image {
    width: 592px;
    max-width: 100%;
}

.section_founder_p {
    font-size: 14px !important;
    line-height: 2rem;
    color: white;
}

.section_founder_icon_p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.section_founder_icons_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 484px;
}

.section_founder_box {
    flex: 1;
    height: 114px;
    border: 1px solid hsla(0,0%,100%,.1);
    margin: 64px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    max-width: 114px;
}

.linkedin {
    margin-top: 0px;
    width: 30px;
}

.section_founder_link {
    display: flex;
    flex: 1;
}

.section_founder_box svg {
    display: block;
    width: 32px;
    height: 32px;
    margin: 8px auto 8px auto;
}

.section_video {
    padding: 0 70px 0 70px;
}

.section_video_div {
    max-width: 56rem;
    cursor: pointer;
}

.section_video h2 {
    margin: 160px 0 70px 0;
}

.section_subscriptions {
    margin-top: 200px;
    padding: 0 70px 0 70px;
}

.section_subscriptions_titles_outer_container {
    display: flex;
    justify-content: center;
}

.section_subscriptions_titles_container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 76rem;
    margin: 0 32px;
}

.section_subscriptions_titles_left {
    flex: 1;
    text-align: left !important;
    max-width: 24rem;
    margin-right: 14rem;
}

.section_subscriptions_titles_right {
    flex: 1;
    max-width: 24rem;
    margin-left: 14rem;
    display: flex;
    align-items: center;
}

.section_subscriptions_png {
    margin-right: 15px;
}

.section_subscriptions_button {
    flex: 1;
    align-self: flex-end;
    max-width: 190px;
}

.section_subscriptions_h3 {
    font-size: 34px;
    margin-bottom: 0;
}

.section_subscriptions_p {
    line-height: 1.25;
}

.section_subscriptions_option_container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 56rem;
    margin: 0 auto;
    text-align: left;
    gap: 16px;
}

.section_subscriptions_option {
    flex: 1;
    padding: 4rem 2rem;
    background-color: rgba(17,24,39,.9);
}

.section_subscriptions_h4 {
    font-size: 22px;
    margin: 0;
}

.section_subscriptions_h6 {
    text-align: center;
    font-weight: 500;
    max-width: 200px;
    margin-bottom: 0;
}

.section_subscription_notes {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.section_subscriptions_h6_v1 {
    max-width: 150px;
}

.invisible {
    visibility: hidden;
}

.section_subscriptions_option2 {
    background-color: rgb(56, 27, 117);
}

.section_subscriptions_oldprice {
    text-decoration: line-through;
    color: #727374;
}

.section_subscriptions_newprice {
    color: rgb(239, 68, 68);
}

.section_subscriptions_option_ptitle1 {
    margin: 16px 0 0 0;
}

.section_subscriptions_line {
    margin: 32px 0;
    border-color: hsla(0,0%,100%,.1);
    border-top-width: 1px;
    border-radius: .75rem;
}

.section_subscriptions_center {
    text-align: center !important;
}

.section_subscriptions_option_ptitle2 {
    color: white;
}

.section_subscriptions_option ul {
    padding: 0;
}

.section_subscriptions_option_p svg {
    height: 8px;
    width: 8px;
    margin-right: 8px;
}

.section_subscriptions_option_p {
    font-weight: 500;
    font-size: 12px;
    list-style: none;
    margin-top: 16px;
}

.section_subscriptions_option_button a {
    margin-top: 32px;
}

.section_subscriptions_option_container {
    margin-top: 96px;
}

.section_faq {
    margin-top: 184px;
    margin-bottom: 128px;
    padding: 0 70px 0 70px;
}

.section_faq_container {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    gap: 24px;
}

.section_faq_left {
    flex: 1;
}

.section_faq_right {
    flex: 1;
}

.section_faq_h3 {
    font-size: 28px;
    margin-top: 0;
}

.section_faq_video {
    max-width: 752px;
}

.section_faq_dropdown_container {
    max-width: 544px;
    padding: 24px 24px 28px 24px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display: flex;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    position: relative;
}

.section_faq_dropdown_flex {
    display: flex;
    align-items: center;
}

.section_faq_dropdown_icon_container {
    padding: 10px;
    border: none;
    border-color: hsla(0,0%,100%,.1);
    border-width: 1px;
    width: 24px;
    height: 24px;
}

.section_faq_dropdown_icon {
    width: 24px;
    height: 24px;
    display: block;
}

.section_faq_dropdown_collapsible_icon {
    width: 24px;
    height: 24px;
    display: none;
}

.section_faq_dropdown_p {
    margin: 0 0 0 24px;
    color: rgb(137, 137, 137);
    text-align: left;
    font-family: "Afacad", sans-serif;
    font-size: 28px;
    font-weight: 600;
}

.section_faq_dropdown_button {
    all: unset;
    cursor: pointer;

}

.section_faq_dropdown_collapsible_container {
    display: block;
}

.section_faq_dropdown_collapsible_p {
    text-align: left;
    margin: 15px 0 0 68px;
    font-weight: 400;
    color: white;
    font-size: 16px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.6s ease-out;
    -webkit-transition: max-height 0.6s ease-out;
    -moz-transition: max-height 0.6s ease-out;
    -ms-transition: max-height 0.6s ease-out;
    -o-transition: max-height 0.6s ease-out;
}

.section_faq_dropdown_collapsible_icon {
    display: none;
}

.section_smallerservices {
    display: none;
    margin: 40px auto 200px auto
}

.section_smallerservices_container {
    display: flex;
    max-width: 64rem;
    margin: 0 auto;
    gap: 24px;
    justify-content: center;
}

.section_smallerservices_h3 {
    font-size: 28px;
    margin-top: 0;
}

.section_smallerservices_image {
    width: 232px;
}

.section_smallerservices_dropdown_container { 
    background-color: hsla(0,0%,100%,.05);
    max-width: 36rem;
    padding: 16px 48px 16px 16px;
    border-radius: 1rem;
    margin: .5rem 0;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width: 36rem;
}

.section_smallerservices_dropdown_flex {
    display: flex;
    align-items: center;
}

.section_smallerservices_dropdown_icon_container {
    padding: 10px;
    border: solid;
    border-color: hsla(0,0%,100%,.1);
    border-width: 1px;
    width: 16px;
    height: 16px;
}

.section_smallerservices_dropdown_icon {
    width: 16px;
    height: 16px;
    display: block;
}

.section_smallerservices_dropdown_p {
    margin-left: 24px;
    color: white;
    text-align: left;
}

.section_smallerservices_dropdown_button {
    all: unset;
    cursor: pointer;
}

.section_smallerservices_dropdown_collapsible_container {
    display: none;
}

.section_smallerservices_dropdown_collapsible_p {
    text-align: left;
    margin: 48px 8px 48px 64px;
    font-weight: 500;
}

.section_smallerservices_dropdown_collapsible_icon {
    display: none;
}



.section_footer {
    display: flex;
    justify-content: center;
    
}

.section_footer_container, .section_footer_innercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    max-width: 72rem;
    padding: 24px 32px;
    border: 0 solid #e5e7eb;
    border-color: rgba(17,24,39,.1);
    border-top-width: 1px;
    width: 100%;
}

.section_footer_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_footer_right {
    margin-left: auto;
}

.section_footer_back_svg {
    width: 20px;
    height: 20px;
}

.section_footer_logo_a {
    padding: 6px;
}

.section_footer_text {
    margin-left: 48px;
}

.section_footer_p {
    color: white;
    font-size: 13px;
}

.section_footer_p2 {
    margin-left: 2rem;
}

.section_footer_back_link {
    display: flex;
    padding: 10px 10px;
    color: rgb(156 163 175);
    background-color: hsla(0,0%,100%,.1);
    border: solid;
    border-color: rgb(255 255 255);
    border-width: 1px;
    cursor: pointer;
    border-radius: .125rem;
    -webkit-border-radius: .125rem;
    -moz-border-radius: .125rem;
    -ms-border-radius: .125rem;
    -o-border-radius: .125rem;
}

.footer_logo {
    width: 120px;
}

.section_subscriptions_hamburger_button {
    all: unset;
    display: none;
}

.section_subscriptions_hamburger_button2 {
    all: unset;
    margin: 0px 8px 0 0;
}

.hamburger_menu {
    position: absolute;
    display: none;
    background-color: rgb(3, 2, 26);
    width: 336px;
    height: 300px;
    padding: 24px;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto; /* You can omit this line if you want it to stretch to the left edge as well */
    z-index: 999;
}

.hamburger_menu_grid1 {
    display: flex;
    justify-content: space-between;
}

.hamburger_menu_ul {
    list-style: none;
    padding: 24px 0;
    margin: 0;
}

.hamburger_menu .hamburger_menu_ul li a {
    font-size: 16px;
    font-weight: 700;
}

.hamburger_menu .hamburger_menu_ul li {
    padding: 12px 12px;
}

.hamburger_menu_line {
    margin: 0 0 32px 0;
    border-color: hsla(0,0%,100%,.05);
    border-width: .5px;
}

.section_subscriptions_hamburger_image, .section_subscriptions_hamburger_image2 {
    width: 24px;
    height: 24px;
}

.section_subscriptions_hamburger_button {
    width: 24px;
    height: 24px;
    margin: auto 0;
}


.integrity_policy_p {
    font-size: 11px;
}

.integrity_policy_li {
    font-size: 11px;
}

.blurred > *:not(#not-blurred) {
    filter: blur(8px);
}

#not-blurred {
    filter: unset !important;
    -webkit-filter: unset !important;
}


.integrity_policy_button {
    all: unset;
    font-size: unset;
    font-size: 13px;
}

.integrity_policy_button2 {
    all: unset;
    margin: 0px 8px 0 0;
}

.integrity_policy_logo {
    width: 128px;
    height: 28px;
}

.integrity_policy_container {
    position: relative;
}

.integrity_policy_text {
    text-align: left;
}

.integrity_policy {
    position: absolute;
    display: none;
    background-color: rgb(3, 2, 26);
    width: 40%;
    padding: 24px;
    right: 0;
    bottom: 0;
    left: auto; /* You can omit this line if you want it to stretch to the left edge as well */
    z-index: 999;
}

.integrity_policy_grid1 {
    display: flex;
    justify-content: space-between;
}

.integrity_policy_ul {
    list-style: none;
    padding: 24px 0;
    margin: 0;
}

.integrity_policy .integrity_policy_ul li a {
    font-size: 16px;
    font-weight: 700;
}

.integrity_policy .integrity_policy_ul li {
    padding: 12px 12px;
}

.integrity_policy_line {
    margin: 0 0 32px 0;
    border-color: hsla(0,0%,100%,.05);
    border-width: .5px;
}

.integrity_policy_image, .integrity_policy_image2 {
    width: 24px;
    height: 24px;
}



.terms_and_services_p {
    font-size: 11px;
}

.terms_and_services_li {
    font-size: 11px;
}

.terms_and_services_button {
    all: unset;
    font-size: unset;
    font-size: 13px;
    margin-left: 20px;
}

.terms_and_services_button2 {
    all: unset;
    margin: 0px 8px 0 0;
}

.terms_and_services_logo {
    width: 128px;
    height: 28px;
}

.terms_and_services_container {
    position: relative;
}

.terms_and_services_text {
    text-align: left;
}

.terms_and_services {
    position: absolute;
    display: none;
    background-color: rgb(3, 2, 26);
    width: 40%;
    padding: 24px;
    right: 0;
    bottom: 0;
    left: auto; /* You can omit this line if you want it to stretch to the left edge as well */
    z-index: 999;
}

.terms_and_services_grid1 {
    display: flex;
    justify-content: space-between;
}

.terms_and_services_ul {
    list-style: none;
    padding: 24px 0;
    margin: 0;
}

.terms_and_services .terms_and_services_ul li a {
    font-size: 16px;
    font-weight: 700;
}

.terms_and_services .terms_and_services_ul li {
    padding: 12px 12px;
}

.terms_and_services_line {
    margin: 0 0 32px 0;
    border-color: hsla(0,0%,100%,.05);
    border-width: .5px;
}

.terms_and_services_image, .terms_and_services_image2 {
    width: 24px;
    height: 24px;
}

.section_main_features {
    margin: 800px auto 0 auto;
    padding: 0 70px;
}

.section_main_features_headertext {
    max-width: 80rem;
    margin: 0 auto;
}

.section_main_feature_h1 {
    font-size: 95px; 
    font-weight: 700;
    line-height: 0.9;
    margin: 0 auto;
    max-width: 1152px;
}

.section_main_feature_p {
    max-width: 704px;
    margin: 30px auto;
    font-size: 18px;
    line-height: 1.5;
}

.section_case_studies {
    max-width: 1280px;
    margin: 0 auto;
}

.section_case_studies_h2 {
    font-size: 60px; 
    font-weight: 700;
    line-height: 0.9;
    text-align: center;
}

.section_case_studies_container {
    display: flex;
    justify-content: space-between;
}

.section_case_studies_a {
    color: unset;
    text-decoration: unset;
    margin: 0 auto;
}

.section_case_studies_card {
    max-width: 318px;
    height: 416px;
    padding: 32px 40px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.section_case_studies_card_orange {
    border: 1px solid #ff6b00;
}

.section_case_studies_card_blue {
    border: 1px solid #146ef5;
}

.section_case_studies_card_orange:hover {
    background-color: #ff6b00;
    box-shadow: 0px 3px 187.5px 7.5px rgba(255, 107, 0, 0.4);
}

.section_case_studies_card_blue:hover {
    background-color: #146ef5;
    box-shadow: 0px 3px 187.5px 7.5px rgba(21, 115, 255, 0.45);
}

.section_case_studies_card:hover .section_case_studies_card_p {
    color: black;
}

.section_case_studies_card:hover .section_case_studies_card_logo_black {
    display: block;
}

.section_case_studies_card:hover .section_case_studies_card_logo {
    display: none;
}

.section_case_studies_card_logo_black {
    display: none;
}

.section_case_studies_card_p {
    font-size: 16px;
    font-weight: 600;
}

.section_multi_display {
    padding: 150px 70px 0 70px;
}

.section_multi_display_h1 {
    font-size: 95px; 
    font-weight: 700;
    line-height: 0.9;
    margin: 0 auto 0 auto;
    max-width: 775px;
}

.section_multi_display_div {
    background-color: #080808;
    width: 1278px;
    height: 560px;
    margin: 80px auto 0 auto;
    border: 1px solid #222;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.multi_display_a {
    color: unset;
}

.multi_display_text_div {
    text-align: left;
    max-width: 320px;
    margin: 40px 0 0 40px;
}

.section_multi_display_h4 {
    font-size: 27px;
    font-family: 'Afacad', sans-serif;
    margin: 0;
}

.section_multi_display_p {
    font-size: 17px;
    line-height: 1.5;
    color: rgb(137, 137, 137);
    font-weight: 400;
    margin: 5px 0 15px 0;
}

.section_multi_display_p_read_more {
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.multi_display_grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.multi_display_grid_item_video {
    width: 370px;
    margin: 45.5px 40px 0 0
}

.multi_display_grid_item_2 {
    padding-left: 300px;
}


.section_boxes_h1 {
    font-size: 95px; 
    font-weight: 700;
    line-height: 0.9;
    margin: 200px auto 0 auto;
    max-width: 775px;
}

.section_boxes_p {
    max-width: 576px;
    margin: 30px auto 30px auto;
    font-size: 18px;
    line-height: 1.5;
}

.section_boxes_grid {
    max-width: 1280px;
    margin: 70px auto 0 auto;
    display: flex;
    flex-direction: row;
}

.section_boxes_grid_box {
    max-width: 226px;
    max-height: 352px;
    padding: 32px 40px;
    margin: 0 8px 0 8px;
    text-align: left;
    border: 1px solid #222;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.section_boxes_grid_box_img {
    max-width: 100px;
    margin: 0;
}

.section_boxes_grid_box_h4 {
    font-size: 27px;
    font-family: 'Afacad', sans-serif;
    margin: 40px 0 15px 0;
}

.section_boxes_grid_box_p {
    font-size: 15px;
    line-height: 1.4;
    color: rgb(137, 137, 137);
    font-weight: 400;
    margin: 5px 0 15px 0;
}





.section_white {
    background-color: white;
    color: black;
    text-align: left;
    margin: 200px 0 0 0;
    display: block;
}

.section_white_content {
    max-width: 1280px;
    padding: 160px 70px;
    margin: 0 auto;
    display: block;
}

.section_white_h1 {
    font-size: 95px; 
    font-weight: 700;
    line-height: 0.9;
    margin: 0 0 0 0;
    max-width: 775px;
}

.section_white_p {
    max-width: 640px;
    margin: 40px 0 0 0;
    font-size: 18px;
    line-height: 1.5;
}

.section_white_grid {
    display: flex;
    flex-direction: row;
    margin: 100px auto 0 auto;
}

.section_white_grid_card {
    max-width: 335px;
    height: 418px;
    padding: 24px;
    margin: 0 8px 0 8px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.section_white_grid_card_img {
    max-width: 100%;
}

.section_white_grid_card_h4 {
    font-size: 26px;
    font-family: 'Afacad', sans-serif;
    margin: 10px 0 0 0;
}

.section_white_grid_card_p {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    margin: 15px 0 15px 0;
}

.section_white_grid_card_a {
    font-weight: 500;
    font-size: 16px;
    color: black;
}

.section_white_grid_card_a p {
    margin: 85px 0 0 0;
}


.section_get_started {
    max-height: 960px;
}

.section_get_started_content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 160px 0 0 0;
}

.section_get_started_grid {
    display: flex;
    flex-direction: row;
    padding: 0 70px;
}

.section_get_started_grid_card1 {
    margin-right: 55px;
    text-align: left;
}

.section_get_started_grid_card2 {
    text-align: left;
    margin: 90px 0 0 55px;
}

.section_get_started_grid_card_h1 {
    font-size: 140px; 
    font-weight: 700;
    line-height: 0.9;
    margin: 0 0 0 0;
    max-width: 775px;
}

.section_get_started_grid_card_p {
    font-size: 18px;
    line-height: 1.3;
    max-width: 388px;
    margin: 0 0 30px 0;
}

.section_get_started_img {
    width: 100%;
    margin: 120px 0 0 0;
}

.chatbot_demo_video {
    width: 400px; 
    margin: 0 auto;
}



@media (max-width: 1400px) {
    .section_smallerservices {
        display: block;
    }

    .section_ourservices_container {
        display: none;
    }

    .section_get_started_grid_card_h1 {
        font-size: 120px;
    }

    .section_white_grid_card_p {
        font-size: 14px;
    }

    .announcement_bar_a {
        margin: 0 32px;
    }
}


@media (max-width: 1024px) {
    .section_quote_h2 {
        font-size: 50px;
    }

    .section_quote_h3 {
        font-size: 36px;
    }

    .section_quote_container {
        padding: 6rem 2rem 8rem 2rem;
    }
    
    .section_founder {
        padding: 0 64px 0 64px;
    }

    .navbar_ul, .navbar_subscriptions_button {
        display: none;
    }

    .section_subscriptions_hamburger_button {
        display: block;
    }

    .terms_and_services_button {
        display: block;
    }

    .slideshow {
        display: block;
    } 

    .section_howitworks_rowcontainer {
        display: none;
    }

    .section_founder_container {
        flex-direction: column;
    }

    .section_founder_left {
        margin: 0;
    }

    .section_founder_right {
        margin: 0;
    }

    .section_founder_icons_container {
        margin: 0 auto;
    }

    .section_founder_p {
        margin-bottom: 0;
    }

    .section_founder_box {
        margin: 30px 64px 50px 64px
    }

    .section_subscriptions {
        padding: 0;
    }

    .section_subscriptions_option_container {
        margin: 80px 0 0 0;
        max-width: unset;
    }

    .section_subscriptions_titles_left  {
        margin-right: 80px;
    }

    .section_subscriptions_titles_right {
        margin-left: 80px;
    }

    .terms_and_services_button {
        margin: 6px 0 0 0;
    }

    .terms_and_services, .integrity_policy {
        width: 70%;
    }

    .section_subscriptions_hamburger_image {
        margin: auto 0;
    }

    .header_logo a img {
        margin: auto 0;
    }

    .section_faq_container {
        display: flex;
        flex-direction: column;
    }

    .section_faq_dropdown_container {
        max-width: 100%;
    }

    .section_boxes_grid {
        flex-direction: column;
    }

    .section_boxes_grid_box {
        margin: 8px auto;
        max-width: 300px;
    }

    .section_get_started_grid_card_h1 {
        font-size: 100px;
    }

    .section_get_started_grid_card_p {
        font-size: 16px;
    }

    .multi_display_grid {
        display: flex;
        flex-direction: column;
    }

    .multi_display_grid_item_2 {
        padding-left: 0px;
    }

    .section_multi_display_div {
        height: 100%;
        max-width: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .section_multi_display_div_top {
        background-position: top !important;
    }

    .multi_display_grid_item {
        text-align: center;
    }

    .multi_display_grid_item_video {
        margin: 0;
    }

    .multi_display_text_div {
        text-align: center;
        margin: 40px auto;
    }

    .multi_display_grid_item_video {
        margin-bottom: 40px;
    }

    .section_mainheader_h1 {
        font-size: 85px;
    }

    .section_mainheader_p {
        font-size: 16px;
    }

    .lines_image {
        max-width: 100%;
    }

}

@media (max-width: 768px) {
    .section_mainheader_h1 {
        font-size: 50px; 
    }

    .section_h2 {
        font-size: 40px
    }

    .section_benefits_rowcontainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section_benefits_row {
        width: 100%;
        margin: 16px 32px 16px 32px;
        width: unset;
    }

    .section_subscriptions_option_container {
        flex-direction: column;
        max-width: 100%;
    }
    
    .section_subscriptions_option {
        max-width: calc(100% - 64px);
        width: 100%;
        margin: 10px 0px;
    }

    .section_subscriptions_option_button {
        display: flex;
    }

    .section_subscriptions_option_button a {
        width: 80%;
    }

    .section_faq_image {
        display: none;
    }

    .section_faq_container {
        flex-direction: column;
    }

    .section_benefits_svg {
        margin: 26px 0 36px 0;
    }

    .section_quote_h2 {
        font-size: 30px; 
        font-weight: 700;
        line-height: 1.1;
        margin: 0;
    }
    
    .section_quote_h3 {
        font-size: 18px; 
        font-weight: 500;
        line-height: 1.1;
        margin: 0;
    }

    .section_quote_container {
        padding: 5rem 2rem 6rem 2rem;
    }

    .section_founder_box_email {
        display: none;
    }

    .section_founder_icons_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: unset;
    }

    .section_founder_box {
        margin: 64px 0;
    }

    .section_subscriptions_titles_right {
        display: none;
    }

    .section_subscriptions_titles_left {
        margin-right: 0;
    }

    .section_subscriptions_option_container {
        margin-top: 30px;
    }

    .section_faq {
        margin-top: 80px;
        display: flex;
    }

    .section_faq_h3 {
        margin-bottom: 0;
    }

    .section_footer_back_link {
        display: none;
    }

    .section_footer_left {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
    }

    .section_footer_text {
        margin: 13px 0 0 0;
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
    }

    .section_footer_container, .section_footer_innercontainer {
        display: flex;
        justify-content: center;
        width: unset;
    }

    .section_footer_p2 {
        margin: 14px 0;
    }

    .section_multi_display_h1 {
        font-size: 85px;
    }

    .section_main_feature_p {
        font-size: 16px;
    }

    .section_get_started_grid_card_h1 {
        font-size: 80px;
    }

    .section_get_started_grid_card {
        margin: 0;
    }

    .section_white_grid {
        display: flex;
        flex-direction: column;
    }

    .section_white_grid_card {
        margin: 10px auto;
    }

    .section_faq_video {
        max-width: 100%;
    }

    .chatbot_demo_container {
        top: 600px;
    }

    .section_main_feature_h1 {
        font-size: 70px;
    }
}

@media (max-width: 660px) {
    .section_mainheader_h1 {
        font-size: 40px; 
    }

    .section_h2 {
        font-size: 30px
    }

    .multi_display_grid_item_video {
        width: 350px;
    }

    .section_get_started_grid_card_h1 {
        font-size: 50px;
    }

    .section_get_started_grid_card_p {
        font-size: 14px;
    }

    .section_main_feature_h1 {
        font-size: 50px;
    }

    .section_main_feature_p {
        font-size: 14px;
    }

    .section_case_studies_h2 {
        font-size: 50px;
    }

    .section_boxes_h1 {
        font-size: 70px;
    }

    .section_boxes_p {
        font-size: 14px;
    }

    .section_white_h1 {
        font-size: 80px;
    }

    .section_white_p {
        font-size: 16px;
    }

    .section_multi_display_h1 {
        font-size: 70px;
    }
}

@media (max-width: 430px) {
    .hamburger_menu, .integrity_policy {
        width: calc(100% - 48px);
    }

    .section_mainheader {
        padding: 50px 70px;
    }

    .chatbot_demo_video {
        width: 300px;
    }

    .section_mainheader_p {
        font-size: 14px;
    }

    .section_main_feature_h1 {
        font-size: 40px;
    }

    .section_faq {
        padding: 0 0px 0 0px;
    }

    .section_case_studies {
        padding: 0 10px;
    }

    .section_case_studies_card {
        padding: 10px 20px;
    }

    .section_boxes_grid_box {
        padding: 10px 20px;
    }

    .section_boxes_grid_box_img {
        max-width: 70px;
    }

    .section_boxes_grid_box_h4 {
        margin-top: 20px;
    }

    .section_white_h1 {
        font-size: 60px;
    }

    .section_white_content {
        padding: 80px 20px;
    }

    .section_white_grid {
        margin-top: 50px;
    }

    .section_get_started_grid {
        flex-direction: column;
    }

    .section_get_started_grid_card {
        margin-top: 20px;
    }

    .section_get_started_img {
        margin-top: 70px;
    }

    .section_multi_display {
        padding: 100px 20px;
    }

    .multi_display_grid_item_video {
        width: 270px;
    }

    .announcement_bar_left_p {
        font-size: 14px;
    }

    .announcement_bar_right_p {
        font-size: 14px;
        margin-top: 5px;
    }

    .announcement_bar_a {
        flex-direction: column;
    }

    .announcement_bar {
        max-height: 1000px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section_main_features {
        margin-top: 500px;
    }

    .section_white {
        margin-top: 80px;
    }

    .section_get_started_content {
        padding-top: 80px;
    }

    .section_main_feature_p {
        margin-bottom: 0px;
    }
}